.container {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 62vh;
  position: relative;
  top: 0;
}

.bannerNavigation svg {
  position: absolute;
  top: 10em;
  z-index: 10;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
}

.leftArrow {
  left: 1em;
}

.rightArrow {
  right: 1em;
}

.container main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container main > div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  color: #fff;
  margin-top: 5em;
}

.bannerInfoContainer {
  text-align: center;
}

.bannerInfoContainer p {
  font-size: 1.6rem;
}

.bannerInfoContainer div span {
  font-size: 1.6rem;
}

.bannerInfoContainer button {
  margin-top: 1em;
}

@media (min-width: 450px) {
  .container main {
    justify-content: start;
    padding-top: 20em;
  }

  .container main > div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .bannerInfoContainer {
    text-align: start;
  }

  .productImageContainer {
    width: 55em;
  }
}
